/************ CONTAINER **************/
.newLoan__container {
  position: relative;
  margin: 0px;
  padding: 5px;
  width: 100%;
  font-family: "Work Sans", sans-serif;

  --color-primary: #003366;
  --color-secondary: #3a7abb;
  --color-light: rgb(236, 240, 240);
  --color-medium: rgb(186, 197, 197);
  --color-danger-light: rgb(255, 220, 220);
  --color-danger: rgb(255, 57, 57);
  --color-grey: rgb(143, 143, 143);
  --color-success: rgb(4, 168, 78);

  --size-container-medium: 40%;
}

/************ HEADER **************/
.newLoan__header {
  position: relative;
  height: 4em;
  padding: 10px;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.newLoan__headerTitle {
  color: white;
  letter-spacing: 1px;
  font-size: 1.8em;
}

/************ ERROR BANNER **************/
.newLoan__errorBanner {
  margin-top: 1em;
  position: absolute;
  width: 18%;
  z-index: 100;
  border: 1px solid var(--color-danger);
  height: 70px;
  background-color: var(--color-danger-light);
  color: var(--color-danger);
  font-weight: bold;
}

.newLoan__errorBanner > div {
  height: 100%;
  display: flex;
  padding: 13px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.newLoan__errorBanner > div > span {
  position: absolute;
  right: 0.3em;
  top: 1px;
  cursor: pointer;
  font-size: 1.4em;
}

.newLoan__errorBanner > div > p {
  font-size: 0.92em;
  margin: 0;
  line-height: 1.2;
}

/************ UTILS **************/
.banCo-newLoan-unclickable {
  pointer-events: none;
}

.banCo-newLoan-centered {
  text-align: center;
}

.banCo-newLoan-hidden {
  visibility: hidden !important;
}

.banCo-newLoan-visible {
  visibility: visible !important;
}

.banCo-newLoan-fadeInTop {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  animation-name: smooth-appearTop, fadeIn;
  animation-duration: 1.4s, 2s;
}

.banCo-newLoan-fadeInBottom {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: relative;
  left: -100%;
  transform: translateX(-32%);
  animation-name: smooth-appearLeft, fadeIn;
  animation-duration: 1.4s, 2s;
}

.banCo-newLoan-fadeInRight {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  right: -100%;
  animation-name: smooth-appearRight, fadeIn;
  animation-duration: 0.6s, 1.6s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes smooth-appearTop {
  to {
    top: 110px;
  }
}

@keyframes smooth-appearLeft {
  to {
    left: 30%;
  }
}

@keyframes smooth-appearRight {
  to {
    right: 1%;
  }
}

/************ SELECTION LIST **************/
.newLoan__selectionScreen__container {
  position: relative;
  min-height: 400px;
  padding-top: 1em;
  overflow: auto;
}
.newLoan__selectionScreen__subTitle {
  margin: 1.2em 0px;
  padding-left: 0.5em;
  color: var(--color-primary);
}

.newLoan__selectionScreen__list {
  width: 90%;
  margin: auto;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
}

.newLoan__selectionScreen__listItem {
  flex: 25% 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--color-light);
  list-style-type: none;
  text-decoration: none;
  color: black;
  cursor: pointer;
  min-height: 80px;
  padding: 0px 0.8em;
  -webkit-box-shadow: 0px 2px 13px -4px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 0px 2px 13px -4px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 2px 13px -4px rgba(0, 0, 0, 0.34);
}

.newLoan__selectionScreen__listItem:hover {
  transform: scale(1.02);
  transition: all 0.3s ease-in-out;
}

.newLoan__selectionScreen__listItem > p {
  font-weight: 550;
  color: rgb(85, 84, 84);
  margin: 0;
}

/************ SELECT PLAN **************/
.newLoan__selectPlan__changeAmount-container {
  width: var(--size-container-medium);
  margin: auto;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.newLoan__selectPlan__changeAmount-button {
  min-height: 60px;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold;
  color: var(--color-primary);
  background-color: white;
  border: 2px solid var(--color-primary);
}

.newLoan__selectPlan__changeAmount-text {
  display: none;
  margin: 0;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.newLoan__selectPlan__emailContainer {
  display: none;
  margin: auto 1.8em;
  text-align: center;
}

.newLoan__selectPlan__emailContainer > label {
  color: var(--color-primary);
  font-size: 1.1em;
  font-weight: 600;
}

.newLoan__selectPlan__emailContainer > p {
  visibility: hidden;
  color: var(--color-danger);
  font-weight: 400;
  margin-top: 0.5em;
}

.newLoan__selectPlan__emailContainer > label > input {
  font-size: 0.85em;
  min-width: 33%;
  text-align: center;
  padding: 6px 8px;
  margin-left: 10px;
}

.newLoan__selectPlan__changeAmount-button:hover {
  background-color: var(--color-light);
}

.newLoan__selectPlan__changeAmount-button:disabled {
  background-color: white;
  cursor: not-allowed;
}

.newLoan__selectPlan__changeAmount-form {
  width: 70%;
  margin: 0px auto;
}

.newLoan__selectPlan__changeAmount-buttonContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 2.1em;
  gap: 1em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.newLoan__selectPlan__newAmount-buttonsContainer {
  display: flex;
  justify-content: space-between;
  height: 41px;
}

.newLoan__selectPlan__newAmount-btn {
  padding: 10px 14px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
}

.newLoan__selectPlan__newAmount-BtnCancelar {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  background-color: white;
}

.newLoan__selectPlan__newAmount-BtnCancelar:hover {
  background-color: var(--color-light);
}

.newLoan__selectPlan__newAmount-BtnAceptar {
  color: white;
  border: none;
  background-color: var(--color-primary);
}

.newLoan__selectPlan__newAmount-BtnAceptar:hover {
  opacity: 0.92;
}

.newLoan__selectPlan__newAmount-input {
  width: 100%;
  padding: 5px 12px;
  font-size: 1.2em;
  box-sizing: border-box;
  margin-bottom: 1.5em;
}

input[type="number"].newLoan__selectPlan__newAmount-input {
  border-bottom: 1px solid var(--color-primary) !important;
}

.newLoan__selectPlan__list {
  padding: 0px;
  width: var(--size-container-medium);
  margin: auto;
}

.newLoan__selectPlan__listItem-selected {
  border: 2px solid var(--color-secondary);
  margin-top: 1em;
}

.newLoan__selectPlan__listItem-selected > h3 {
  margin-top: 0px;
}

.newLoan__selectPlan__viewPreQualified {
  align-self: flex-end;
  font-weight: bold;
}

.newLoan__selectionScreen__listItemPlan {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2px 2em;
  margin: 1.5em 0;
}

.newLoan__selectionScreen__listItemPlan-amount {
  font-weight: 600;
}

.newLoan__selectionScreen__listItemPlan-installmentsContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.newLoan__selectionScreen__listItemPlan-installmentsQty {
  color: var(--color-grey);
}

.newLoan__selectionScreen__listItemPlan-installmentsAmount {
  color: var(--color-success);
}

@media screen and (max-width: 900px) {
  .newLoan__selectPlan__newAmount-buttonsContainer {
    flex-direction: column-reverse;
    gap: 1em;
    height: auto;
  }
}

/************ CONFIRM LOAN **************/
.newLoan__confirmLoanScreen__container {
  position: relative;
}

.newLoan__confirmLoanScreen__info {
  width: 90%;
  border: 1px solid var(--color-primary);
  margin: 2em auto;
}

.newLoan__confirmLoanScreen__info__header {
  padding: 10px 0;
  border-bottom: 1px solid var(--color-medium);
  text-align: center;
}

.newLoan__confirmLoanScreen__info__title {
  margin-bottom: 8px;
  font-size: 1.7em;
  color: var(--color-primary);
}

.newLoan__confirmLoanScreen__info__date {
  margin: 0;
  font-size: 1.36em;
  color: var(--color-grey);
}

.newLoan__confirmLoanScreen__info__dataContainer {
  padding: 0 1.6em 1em;
}

.newLoan__confirmLoanScreen__info__section {
  border-bottom: 1px solid var(--color-medium);
  padding: 1em 0;
  display: flex;
  justify-content: space-between;
}

.newLoan__confirmLoanScreen__info__sectionItem {
  display: flex;
  flex-direction: column;
}

.newLoan__confirmLoanScreen__info__sectionItemSubtitle {
  font-size: 1.25em;
  color: var(--color-grey);
  margin-bottom: 3px;
}

.newLoan__confirmLoanScreen__info__sectionItemValue {
  font-size: 1.25em;
  color: var(--color-primary);
  font-weight: 550;
}

/************ SPINNER **************/
.lds-roller,
.lds-roller div,
.lds-roller div:after {
  box-sizing: border-box;
}
.lds-roller {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7.2px;
  height: 7.2px;
  border-radius: 50%;
  background: currentColor;
  margin: -3.6px 0 0 -3.6px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 62.62742px;
  left: 62.62742px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 67.71281px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 70.90963px;
  left: 48.28221px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 70.90963px;
  left: 31.71779px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 67.71281px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 62.62742px;
  left: 17.37258px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12.28719px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/************ MODAL **************/
.banCo-newLoan-backdrop {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgb(183, 183, 183);
  z-index: 1000;
  opacity: 0.8;
  display: none;
}

.banCo-newLoan-modalContainer {
  position: absolute;
  left: calc(50% - 12.5vw);
  width: 25vw;
  padding: 3.3em;
  z-index: 1001;
  background-color: white;

  display: none;
}

.banCo-newLoan-modalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
  height: 100%;
}

.banCo-newLoan-modal-customContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newLoan__modalContent__amount {
  text-align: center;
  font-size: 1.6em;
  font-weight: bold;
}

.newLoan__modalContent__installments {
  text-align: center;
  font-size: 1.2em;
}

.newLoan__modalContent__installments > span:nth-child(1) {
  font-weight: bold;
  margin-right: 3px;
}

.newLoan__modalContent__installments > span:nth-child(2) {
  font-weight: bold;
  color: var(--color-success);
  margin-left: 3px;
}

.banCo-newLoan-modalMessage {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-primary);
  font-weight: bold;
}

/************ LEFT ARROW **************/
.newLoan__arrow-left {
  position: absolute;
  left: 2em;
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-top: 5px solid white;
  border-left: 5px solid white;
  transform: rotate(-45deg);
}

.newLoan__arrow-left:hover {
  -webkit-transform: rotate(-45deg) scale(1.02);
  -ms-transform: rotate(-45deg) scale(1.02);
  transform: scale(1.2) rotate(-45deg);
  transition: all 0.3s ease-in-out;
}

/************ APROVAL CHECK MARK **************/
.newLoan__confirmLoanScreen__aprovalCheck {
  position: relative;
  margin-bottom: 5em;
}

.newLoan__confirmLoanScreen__aprovalCheck svg {
  width: 120px;
  display: block;
  margin: 40px auto 0;
}
.newLoan__confirmLoanScreen__aprovalCheck .path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 2;
}
.newLoan__confirmLoanScreen__aprovalCheck .path.circle {
  -webkit-animation: dash 2s ease-in-out;
  animation: dash 2s ease-in-out;
}

.newLoan__confirmLoanScreen__aprovalCheck .path.check {
  stroke-dashoffset: -100;
  -webkit-animation: dash-check 2s 0.4s ease-in-out forwards;
  animation: dash-check 2s 0.4s ease-in-out forwards;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -300;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
@keyframes dash-check {
  0% {
    stroke-dashoffset: -300;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
