/************ CONTAINER **************/
.newLoan__container {
  margin: 0px;
  padding: 5px;
  width: 100%;
  font-family: "Work Sans", sans-serif;

  --color-primary: #003366;
  --color-secondary: #3a7abb;
  --color-light: rgb(236, 240, 240);
  --color-danger: rgb(255, 155, 155);
}

/************ HEADER **************/
.newLoan__header {
  position: relative;
  height: 4em;
  padding: 10px;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.newLoan__headerTitle {
  color: white;
  letter-spacing: 1px;
  font-size: 1.8em;
}

/************ ERROR BANNER **************/
.newLoan__errorBanner {
  width: 150px;
  max-width: 200px;
  height: 100px;
  background-color: var(--color-danger);
  color: white;
  font-weight: bold;
  font-size: 1.2em;
}

/************ UTILS **************/
.unclickable {
  pointer-events: none;
}

.centered {
  text-align: center;
}

.fadeIn {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  animation-name: smooth-appear, fadeIn;
  animation-duration: 1.4s, 2s;

}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes smooth-appear {
  to {
    top: 110px;
  }
}

/************ SELECTION LIST **************/
.newLoan__selectionScreen__subTitle {
  margin: 1.2em 0px;
  padding-left: 0.5em;
  color: var(--color-primary);
}

.newLoan__selectionScreen__list {
  width: 90%;
  margin: auto;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
}

.newLoan__selectionScreen__listItem {
  flex: 25% 1;
  background-color: var(--color-light);
  list-style-type: none;
  text-decoration: none;
  color: black;
  cursor: pointer;
  min-height: 80px;
  padding: 0px 0.8em;
  -webkit-box-shadow: 0px 2px 13px -4px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 0px 2px 13px -4px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 2px 13px -4px rgba(0, 0, 0, 0.34);
}

.newLoan__selectionScreen__listItem:hover {
  transform: scale(1.02);
  transition: all 0.3s ease-in-out;
}

/************ SELECT PLAN **************/
.newLoan__selectPlan__changeAmount-container {
  width: 30%;
  margin: auto;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 4em; */
  /* align-items: center; */
}

.newLoan__selectPlan__changeAmount-button {
  min-height: 80px;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold;
  color: var(--color-primary);
  background-color: white;
  border: 2px solid var(--color-primary);
}

.newLoan__selectPlan__changeAmount-button:hover {
  background-color: var(--color-light);
}

.newLoan__selectPlan__changeAmount-button:disabled {
  background-color: white;
  cursor: not-allowed;
}

.newLoan__selectPlan__changeAmount-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newLoan__selectPlan__changeAmount-buttonContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 4em;
  gap: 1em;
}

.newLoan__selectPlan__changeAmount-input {
}

.newLoan__selectPlan__list {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 2em;
  width: 30%;
  margin: auto;
}

.newLoan__selectPlan__listItem-selected {
  border: 2px solid var(--color-secondary);
  margin-top: 1em;
}

.newLoan__selectPlan__listItem-selected > h3 {
  margin-top: 0px;
}

.newLoan__selectPlan__viewPreQualified {
  align-self: flex-end;
  font-weight: bold;
}

/************ SPINNER **************/
.lds-roller,
.lds-roller div,
.lds-roller div:after {
  box-sizing: border-box;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7.2px;
  height: 7.2px;
  border-radius: 50%;
  background: currentColor;
  margin: -3.6px 0 0 -3.6px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 62.62742px;
  left: 62.62742px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 67.71281px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 70.90963px;
  left: 48.28221px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 70.90963px;
  left: 31.71779px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 67.71281px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 62.62742px;
  left: 17.37258px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12.28719px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/************ LEFT ARROW **************/
.newLoan__arrow-left {
  position: absolute;
  left: 2em;
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-top: 5px solid white;
  border-left: 5px solid white;
  transform: rotate(-45deg);
}

.newLoan__arrow-left:hover {
  /*   -webkit-transform: rotate(-45deg) scale(1.02);
  -ms-transform: rotate(-45deg) scale(1.02); */
  transform: scale(1.2) rotate(-45deg);
  transition: all 0.3s ease-in-out;
}

/************ APROVAL CHECK MARK **************/
.newLoan__confirmLoanScreen__aprovalCheck {
  position: relative;
}

.newLoan__confirmLoanScreen__aprovalCheck svg {
  width: 120px;
  display: block;
  margin: 40px auto 0;
}
.newLoan__confirmLoanScreen__aprovalCheck .path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 2;
}
.newLoan__confirmLoanScreen__aprovalCheck .path.circle {
  -webkit-animation: dash 2s ease-in-out;
  animation: dash 2s ease-in-out;
}

.newLoan__confirmLoanScreen__aprovalCheck .path.check {
  stroke-dashoffset: -100;
  -webkit-animation: dash-check 2s 0.4s ease-in-out forwards;
  animation: dash-check 2s 0.4s ease-in-out forwards;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -300;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
@keyframes dash-check {
  0% {
    stroke-dashoffset: -300;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
